.row {
  max-width: $grid-width;
  margin: 0 auto; /* center block inside of block */
  padding: 0 3rem;
  position: relative;

  &:not(:first-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  .grid-container-projects {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
  }
}
